* {
  margin: 0;
}

html, body {
  min-height: 100%;
}

.incative {
  display: none;
}

/***********************/

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}


/***********************/

footer {
  position: relative;
  background: black;
}

footer nav {
  padding: 10px;
  color: white;
  font-size: 20px;
  height: 30px;
  max-width: 900px;
  margin: auto;
}

footer nav:before {
  content:"\00a9 ";
}

/***********************/

header {
  background: black;
}

header nav {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

header nav li {
  padding: 0 5px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: auto;
  display: inline;
}

/***********************/

h2 {
  backgounrd: white;
  color: black;
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: 50px;
}

/***********************/

.content {
  padding: 10px 0;
  max-width: 900px;
  margin: auto;
  heigh: 100%;
}

/***********************/

#menu label {
  text-decoration: underline;
  font-size: 25px;
  display: block;
  text-align: center;
}

#menu li label {
  text-decoriation: underline;
  font-size: 20px;
  text-align: left;
}

#menu li {
  padding-top: 10px;
  width: 294px;
  height: 100px;
  width: 250px;
  float: left;
  padding: 10px;
}
