.content {
  padding: 0;
  width: 100%;
  background: #cacaca;
}

.content #home {
  max-width: 960px;
  margin: auto;
}

.content #menu {
  max-width: 780px;
  margin: auto;
}

.content #gallery{
  max-width: 960px;
  margin: auto;
}

.content #contact {
  max-width: 960px;
  margin: auto;
}

header nav {
  width: 960px;
}

.nav img {
  height: 43px;
}

/**********************/

footer {
  background: #202020;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 65px;
  color: white;
}

footer nav {
  max-width: 960px;
  text-align: center;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 65px;   /* Height of the footer element */
  /*background: orange;*/
}

#menu ul li {
  /*background: red;*/
  /*display: block;*/
}
