/********Global Styles********/

* {
  margin: 0;
}

html, body {
  min-height: 100%;
  background: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#map-canvas {
  height: 400px;
  width: 900px;
  margin: 0;
  padding: 0;
}

.incative {
  display: none;
}

/***********************/

.wrapper {
  min-height: 100%;
}

/***********************/

header {
  font-size:1em;
  background-color: black;
  height:43px;
  nav{
    max-width:95%;
    margin: auto;
    ul{
      margin-top:14px;
    li{
      font-weight:100;
      margin:0 8;
      padding-bottom:8px;
      color: white;
      cursor: pointer;
      display: inline;
        &:hover{
          border-bottom:3px solid white;
        }
      }
    }
  }
}

/***********************/

footer {
  font-size: 1em;
  position: absolute;
  width: 100%;
  background-color: black;
  nav{
    padding: 10px;
    color: #ffffff;
    height: 30px;
    max-width: 90%;
    margin: auto;
      &:before{
        content:"\00a9 ";
      }
  }
}


/***********************/

h2 {
  backgounrd: white;
  color: black;
  text-align: center;
  padding: 10px;
  margin: 0;
}

a {
  color: grey;
}

/***********************/

.content {
  padding: 10px 0;
  // max-width:80%;
  margin: auto;
  height: 100%;
}

/***********************/

#home {

}

/***********************/

#menu label {
  text-decoration: underline;
  font-size: 25px;
  display: block;
  text-align: center;
}

#menu li label {
  text-decoriation: underline;
  font-size: 20px;
  text-align: left;
}

#menu li {
  padding-top: 10px;
  height: 100px;
  width: 240px;
  float: left;
  padding: 10px;
}

/***********************/

#gallery {
  max-width: 475 px;
  margin: auto;
  text-align: center;
    img{
      margin:20px;
      border: 3px solid #cacaca;
    }
}

/***********************/
